body{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #000;
  line-height: 1.3;
  background: url(picture/pic-2.jpg) 50% 110px no-repeat;
  min-width: 1200px;
}
.container{
  width: 1172px;
  margin: 0 auto;
}
.main-nav{
  margin: 25px 0 0;
  background: #05aecc;
}
.main-nav > ul{
  height: 71px;
  list-style: none;
  margin: 0;
  padding-left: 94px;
}
.main-nav > ul > li{
  margin: 0 9px 0 0;
  float: left;
  position: relative;
}
.main-nav > ul > li:hover a{
  background: #fff;
  color: #ef5966;
}
.main-nav > ul > li > a:hover{

}
.main-nav > ul > li > a{
  padding: 10px 0;

}
.main-nav > ul > li > a{
  color: #fff;
  font-size: 16px;
  display: inline-block;
  padding: 26px 25px;
  text-decoration: none;
}
.sub-nav{
  position: absolute;
  top: 70px;
  left: 0px;
  background: rgba(255, 255, 255, 0.9);

  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.33);
  padding: 0;
}
.sub-nav li a{
  text-decoration: none;
  margin-bottom: 0;
  color: red;
}
.sub-nav li p{
  margin: 0;
  font-size: 14px;
}
.sub-nav .box .a2{
  font-size: 12px;
  background: #05aecc;
  color: #fff;
  padding: 5px 23px;
}
.sub-nav li img{
  float: left;
  padding-right: 10px;
  clear: both;
}
.sub-nav ul .box{
  height: 0px;
  width: 100px;
}
.sub-nav li{
  padding-top: 29px;
  overflow: hidden;
  border-bottom: 1px solid #cacaca;
}
.sub-nav .see{
  padding: 12px 0;
  color: red;
  text-decoration: none;
}
.sub-nav{
  display: none;
  width: 258px;
  padding: 0 10px;
}
.sub:hover .sub-nav{
  display: block;
}
.footer{
  margin-top: 615px;
  list-style: none;
  background: #7bd0b9;
  height: 70px;
}
.footer-nav{
  list-style: none;
  padding-top: 30px;
}
.footer-nav li{
  display: inline;
  margin-left: 150px;
}
.footer-nav a{
  text-decoration: none;

}


